.footer {background-color: darkgray; padding-top: 10px;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.ui-spinner {width: 100%;}

.add-media {width:100%;}

.footer > div {text-align: center;}

.centerAlign { text-align: center;}

.progressBarMargin { margin: 8px;}

.middleAlign {vertical-align: middle}