                    
                        <div class="row">
                            <section class="col-xs-12" >
                                <form action="todo.php" method="post" data-toggle="validator" id="todoInputForm">
                                    <div class="form-group">
                                        <div class="form-inline-row">
                                           
                                           <div class="form-group">
                                                <input type="hidden" class="form-control"
                                                    id="userId" name="userId" placeholder="Goal" value=<?php echo $userId  ?>>
                                            </div>
                                            
                                            <div class="form-group col-xs-5">
                                                <input type="text" class="form-control "
                                                    id="goalName" name="goalName" placeholder="Goal" required>
                                            </div>

                                            <div class="form-group col-xs-4">

                                                <input type="text" class="form-control "
                                                    id="dateIntended" name="dateIntended" placeholder="Date Intended">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary col-xs-2" id="addGoal">
                                                    Save
                                                </button>
                                                
                                            </div>
                                            <div class="form-group col-xs-1">
                                                <button type="button" class="btn btn-default" id="clear" disabled>
                                                    <span class="glyphicon glyphicon-erase"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                               
                                </form>
                            </section>
                        </div>
                    <br/>
                    <br/>
                    
                    <table id="toDoJobs" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="hidden">Id</th>
                                <th>Goal</th>
                                <th>Intended Date</th>
                                <th>Action</th>                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                                while ($todo=$r1->fetch())
                                {
                                    echo "<tr>
                                            <td class='hidden'>{$todo->getId()}</td>
                                            <td>{$todo->getGoalName()}</td>
                                            <td>{$todo->getDateIntended()}</td>
                                            <td>
                                                <button type='button' class='btn btn-primary' id='complete'>                                  Mark Complete    
                                                </button>
                                            </td>
                                            <td>                                                
                                                <a href='#' data-href='delete_item.php?deleteItemId=".$todo->getId()."&itemType=todo' data-toggle='modal' data-target='#confirm-delete'><span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span></a>
                                            </td>
                                        </tr>";
                                }
                            ?> 
                        </tbody>
                    </table>
                    
                    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                </div>

                                <div class="modal-body">
                                    <p>Are you sure you wanna delete this?</p>

                                    <p class="debug-url"></p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger btn-ok">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>    
    </section>
</ul>