                    
                        <div class="row">
                            <section class="col-xs-12" >
                                <form action="/words.php" method="post" data-toggle="validator" id="wordInputForm">
                                    <div class="form-group">
                                        <div class="form-inline-row">
                                            <div class="form-group col-xs-3">
                                                <input type="text" class="form-control "
                                                    id="word" name="word" placeholder="Word/Phrase" required>
                                            </div>

                                            <div class="form-group col-xs-7">

                                                <input type="text" class="form-control "
                                                    id="meaning" name="meaning" placeholder="Meaning" required>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary col-xs-2">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                               
                                </form>
                            </section>
                        </div>
                    <br/>
                    <br/>
                    
                    <table id="words" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Word/Phrase</th>
                                <th>Meaning</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                                while ($word=$r1->fetch())
                                {
                                    echo "<tr>
                                            <td>{$word->getWord()}</td>
                                            <td>{$word->getMeaning()}</td>
                                        </tr>";
                                }
                            ?> 
                        </tbody>
                    </table>                   
                </div>
            </div>    
    </section>
</ul>